<nav class="nav">
    <ul class="left-nav">
        <li>
            <a href="/">Blog App</a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
    <ul class="right-nav">
        <li>
            <a href="/">Register</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
    </ul>
</nav>