<div class="form-container">
    <% if(errors.length>0){ %>
        <div class="errors">
            <% errors.forEach(error =>{ %>
                <span class="error">
                    <%= error.msg %>
                </span>
            <% }) %>
        </div>
    <% } %>
    <form action="/register" method="post">
        <div class="group">
            <h3>Create new account</h3>
        </div>
        <div class="group">
            <label for="name">Name </label>
            <input type="text" name="name" id="name" placeholder="Name" class="control">
        </div>
        <div class="group">
            <label for="email">Email </label>
            <input type="text" name="email" id="email" placeholder="Email" class="control">
        </div>
        <div class="group">
            <label for="password">Password </label>
            <input type="password" name="password" id="password" placeholder="Password" class="control">
        </div>
        <div class="group">
            <button type="submit" class="btn btn-sweet">Register</button>
        </div>
    </form>
</div>